*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: initial;
    font-family: monospace;
}
body{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display: flex;
    background: linear-gradient(297deg, rgba(255,0,0,.8), rgba(255,0,0,0) 90.71%),
    linear-gradient(150deg, rgba(0,255,0,.8), rgba(0,255,0,0) 90.71%),
    linear-gradient(236deg, rgba(0,0,255,.8), rgba(0,0,255,0) 90.71%);
}

.calculator-body{
    background: radial-gradient(
        rgba(255, 255, 255, 0.04),
        rgba(255, 255, 255, 0.9)
      );    height: 50vh;
    width: 45vw;
    height: 70vh;
    border-radius: 2px;
}
.result{
    position: absolute;

    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    height: 70vh;
    width: 20vw;
    background: radial-gradient(
        rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.5)
    );
}
.result h1{
    font-size: 35px;
    margin: 20px 0;
    text-align: center;
}
h2{
    font-size: 25px;
    margin: 14px;
}
.show{
    margin-top: 85px;
}
.inp{
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 69vh;
    display: flex;
}

input{
    font-weight: 600;
    border-radius: 0px;
    margin: 15px;
    height: 35px;
    padding: 20px;
    border: none;
    outline: none;
    font-size: 20px;
    border: 1px solid rgb(253, 227, 227);
    background: rgba(253, 227, 227, 0.1);
}

.main{
    margin-left: 60px;
}
button{
    margin: 15px;
    height: 40px;
    width: 225px;
    font-weight: 650;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid rgb(253, 227, 227);
    outline: none;
    font-size: 20px;
}

::placeholder{
    font-weight: 600;
}